{% extends 'home.html' %}

{% block content %}
<div class="container w-50">
    <form action="/download" method="post">
        <div class="form-floating mb-3">
            <input name="name" type="text" class="form-control" id="floatingInput" placeholder="Enter Name">
            <label for="floatingInput">Enter Name</label>
        </div>
        <div class="form-floating">
            <input name="date" type="date" class="form-control" id="floatingDate">
            <label for="floatingDate">Date</label>
        </div>
        <div class="my-4">
            <a href="/download">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </a>
        </div>
    </form>
</div>

{% endblock content %}