appdirs==1.4.4
argcomplete==1.12.2
arrow==1.2.1
astroid==2.4.2
async-generator==1.10
attrs==21.2.0
beautifulsoup4==4.10.0
certifi==2020.12.5
cffi==1.15.0
charset-normalizer==2.0.7
click==7.1.2
colorama==0.4.3
cryptography==35.0.0
distlib==0.3.1
filelock==3.0.12
h11==0.12.0
idna==3.3
isort==5.5.1
jaraco.context==4.1.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.10.0
outcome==1.1.0
packaging==20.8
Pillow==8.0.1
pipenv==2020.11.15
pipx==0.15.6.0
psycopg2==2.8.6
pycparser==2.20
pygame==2.0.2
pylint==2.6.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2020.4
requests==2.26.0
selenium==4.0.0
six==1.15.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
toml==0.10.1
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.7
userpath==1.4.1
virtualenv==20.3.1
virtualenv-clone==0.5.4
wrapt==1.12.1
wsproto==1.0.0
xmltodict==0.12.0
