astroid==2.8.0
autopep8==1.5.7
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.5.30
charset-normalizer==2.0.6
flake8==3.9.2
idna==3.2
isort==5.9.3
lazy-object-proxy==1.6.0
lxml==4.6.3
mccabe==0.6.1
platformdirs==2.4.0
pycodestyle==2.7.0
pyflakes==2.3.1
pylint==2.11.1
requests==2.26.0
soupsieve==2.2.1
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
wrapt==1.12.1
